<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi porfolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
    <!-- css -->
    <link rel="stylesheet" href="/css/styles.css">
     <!-- FontAwesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="main_header_top_bar">

            <div class="top_bar">
                <a href="/"><h1 class="titulo">
                 FREELANCER PORTFOLIO
                </h1></a>
            </div>

        </div>
            <nav class="nav-bar">
               
                <ul class="listas">
                        <li><a href="#portfolio">PORTFOLIO</a></li>
                        <li><a href="#about">ABOUT</a></li>
                        <li><a href="#contactMe">CONTACT</a></li>
                </ul>
            </nav>

            <div class="burger-menu">
                <button>
                    MENU <i class="fas fa-bars"></i>
                </button>
            </div>
    </header>
        <main class="home__productos">

                <div class="banner">
                    <img class="banner" src="/images/profile.png" alt="Imagen baneer">
                    <div class="titulo_star">
                    <h2>FREELANCER PORTFOLIO</h2>
                            ----------</i><i class="fa-solid fa-star"></i>----------
                    </div>
                        <p class="titulo_parrafo">Web Developer | Graphic Artist | User Experience Desingner</p>
                </div>
                <div class="h2">
                    <h2 id="portfolio">PORTFOLIO</h2> 
                    ----------<i class="fa-solid fa-star"></i>---------- 
                </div>
            <section class="home__seccion-productos">
                <div class="product-container">
                <article class="seccion__productos-tarjetas">
                    <div class="product-img">
                        <img src="/images/cabin.png" alt="Cabin">
                    </div>
                </article>
                <article class="seccion__productos-tarjetas">
                    <div class="product-img">
                        <img src="/images/cake.png" alt="Cake">
                    </div>
                    <div class="precio_descuento">
                    </article>
                <article class="seccion__productos-tarjetas">
                    <div class="product-img">
                        <img src="/images/circus.png" alt="Circus">
                    </div>
                    </article>
                <article class="seccion__productos-tarjetas">
                    <div class="product-img">
                        <img src="/images/game.png" alt="Game">
                    </div>
                </article>
                <article class="seccion__productos-tarjetas">
                    <div class="product-img">
                        <img src="/images/safe.png" alt="Safe">
                    </div>
                </article>
                <article class="seccion__productos-tarjetas">
                    <div class="product-img">
                        <img src="/images/submarine.png" alt="Submarine">
                    </div>
                </article>
                </div>
            </section>

            <section>
                <div class="about">
                    <div class="about_star">
                    <h2 id="about">ABOUT</h2>
                        ----------</i><i class="fa-solid fa-star"></i>----------
                    </div>
                    <div class="container_lorem">
                        <div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto ad odio deserunt fuga vero doloribus non voluptates provident expedita? Eligendi eos nostrum doloremque minus maxime nulla cumque, quis soluta eveniet!</p>
                        </div>
                        <div>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. A eos quia commodi. Veritatis, aut odit enim repudiandae qui amet assumenda cupiditate minima quos, fugit earum nulla sit totam ex. Fuga!</p>
                        </div>
                    </div>
                    
                    <button>
                        <i class="fa-solid fa-download"></i>Download Now!
                    </button>
                </div>
            </section>
            <section>
                <div class="contact">
                <H2 id="contactMe">CONTACT ME</H2> 
                    ----------<i class="fa-solid fa-star"></i>----------
                </div>
                <form action="/" method="post">
                    <div class="form-container">
                        <div class="input-container">
                            <input class="input-style" type="text" name="nombre" placeholder="Name">                      
                        </div>
                        <div class="input-container">
                            <input class="input-style" type="email" name="email" placeholder="Email Address">                     
                        </div>
                        <div class="input-container">
                            <input class="input-style" type="tel" name="tel" placeholder="Phone Number">
                        </div>
                        <div class="input-container">
                            <textarea class="mensaje" name="mensaje"  placeholder="Message" cols="30" rows="10"></textarea>
                        </div>
                    </div>
                    <div class="send">
                        <button type="submit" class="btn btn-submit">Send</button>
                    </div>
                </form>
            </section>
           
    </main>

    <footer>
        <div class="footer">
            <article class="ubicacion">
                <h2>LOCATION</h2> 
                <p class="ubicacion_parrafo">2215 Jhon Daniel Drive</p>
                <p>Clark, MO 65243</p>
            </article>

        <article class="redes">
            <div class="redes_titulo">
                <h2>AROUND THE WEB</h2>
            </div>
            
            <div class="redes_sociales">
                <a href="/"><i class="fa-brands fa-facebook"></i></a>
                <a href="/"><i class="fa-brands fa-twitter"></i></a>
                <a href="/"><i class="fa-brands fa-instagram"></i></a>
                <a href="/"><i class="fa-brands fa-linkedin"></i></a>
                <a href="/"><i class="fa-brands fa-google"></i></a>
            </div>
        </article>
        <article class="footer_about">
            <h2>ABOUT FREELANCER</h2>
            <p class="freelancer">Freelancer is free and open</p>
             <p>source landingpage theme</p>
             <p>created to <span class="verde">your free personal use.</span> </p>
        </article>
        </div>
    
         <p class="copy">Copyright ©️ Your Website 2022-2023 Tomas Gongora</p>

    </footer>
</body>
</html>
